In [7]:
# D-H算法函数
def D_H(p, g, A, B):
    # 输入：p, g, A, B
    # 输出：两人分别算出的Ks
    alpha = g ** A % p
    beta = g ** B % p
    Ks1 = beta ** A % p
    Ks2 = alpha ** B % p
    return Ks1, Ks2
# example
D_H(11, 7, 3, 5)

(10, 10)

In [8]:
# 创建p,g对列表
p_g_l = [{'p': 101, 'g': 2}, {'p': 103, 'g': 5}, {'p': 107, 'g': 2}, {'p': 109, 'g': 6}, {'p': 113, 'g': 3},
         {'p': 127, 'g': 3}, {'p': 131, 'g': 2}, {'p': 137, 'g': 3}, {'p': 139, 'g': 2}, {'p': 149, 'g': 2},
         {'p': 151, 'g': 6}, {'p': 157, 'g': 5}, {'p': 163, 'g': 2}, {'p': 167, 'g': 5}, {'p': 173, 'g': 2},
         {'p': 179, 'g': 2}, {'p': 181, 'g': 2}, {'p': 191, 'g': 19}, {'p': 193, 'g': 5}, {'p': 197, 'g': 2},
         {'p': 199, 'g': 3}, {'p': 211, 'g': 2}, {'p': 223, 'g': 3}, {'p': 227, 'g': 2}, {'p': 229, 'g': 6},
         {'p': 233, 'g': 3}, {'p': 239, 'g': 7}, {'p': 241, 'g': 7}, {'p': 251, 'g': 6}]

In [9]:
import numpy as np
import pandas as pd
import random
data = np.zeros((1,6))  # 放个1*6的全为0的ndarray方便后面拼接
# 将结果转为DataFrame形式并存入csv文件
for i in p_g_l:
    # 随机生成双方私密整数
    A = random.randint(1, 100)
    B = random.randint(1, 100)
    temp = np.array([[i['p'], i['g'], A, B, D_H(i['p'], i['g'], A, B)[0], D_H(i['p'], i['g'], A, B)[1]]])
    # 拼接
    data = np.vstack((data, temp))
# 去掉全为0的第一行
data = data[1:, :]
# 转为DataFrame
df = pd.DataFrame(data, columns=['p', 'g', 'A', 'B', 'Ks1', 'Ks2'])
df

        p     g     A     B    Ks1    Ks2
0   101.0   2.0  95.0  61.0   60.0   60.0
1   103.0   5.0  12.0  27.0   79.0   79.0
2   107.0   2.0  80.0  53.0    1.0    1.0
3   109.0   6.0  18.0   2.0   63.0   63.0
4   113.0   3.0  33.0  58.0   63.0   63.0
5   127.0   3.0  50.0   5.0  113.0  113.0
6   131.0   2.0  66.0  70.0   99.0   99.0
7   137.0   3.0  65.0  26.0   68.0   68.0
8   139.0   2.0  47.0  61.0   17.0   17.0
9   149.0   2.0  62.0  37.0  148.0  148.0
10  151.0   6.0   6.0   7.0   78.0   78.0
11  157.0   5.0  19.0  86.0  105.0  105.0
12  163.0   2.0  76.0  64.0   16.0   16.0
13  167.0   5.0  64.0  51.0   98.0   98.0
14  173.0   2.0  59.0  48.0  100.0  100.0
15  179.0   2.0  86.0  51.0   13.0   13.0
16  181.0   2.0  43.0  31.0   84.0   84.0
17  191.0  19.0  47.0  17.0  168.0  168.0
18  193.0   5.0  95.0  34.0   97.0   97.0
19  197.0   2.0   7.0   9.0  129.0  129.0
20  199.0   3.0  54.0  13.0   18.0   18.0
21  211.0   2.0  40.0   4.0  161.0  161.0
22  223.0   3.0  41.0  35.0  102.0  102.0
23  227.0   2.0  74.0  37.0  173.0  173.0
24  229.0   6.0  61.0  18.0  172.0  172.0
25  233.0   3.0  91.0  59.0  193.0  193.0
26  239.0   7.0  94.0  51.0   24.0   24.0
27  241.0   7.0  40.0  54.0    1.0    1.0
28  251.0   6.0  64.0  39.0   49.0   49.0

In [11]:
# 转为csv文件
df.to_csv('result.csv')